.fillSpace {
  width: 100%;
  height: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
}

body {
  margin: 0;
}

/*###############################left side related css##################################*/
.leftSide {
  width: 35.5%;
  background-color: rgba(173, 173, 173, 0.5);
}

.order {
  height: 15%;
  text-align: right;
}

.score {
  height: 60px;
  width: 90%;
  border-radius: 30px;
  margin: 5% auto 0;
  background-color: rgba(94, 97, 86, 0.5);
}

.serving {
  height: 70%;
  position: relative;
  overflow: hidden;
}

.tableServing {
  position: absolute;
  width: 100%;
  z-index: 2;
  bottom: 0px;
  left: 0px;
}

@font-face {
  font-family: Segment7Standard;
  src: url("./ressources/Segment7Standard.otf") format("opentype");
}

/*#################################right side related css#########################################*/
.rightSide {
  width: calc(64.5% - 10px);
}

/*''''''''''''''''''''''''''''reserve related css''''''''''''''''''''''''''''''''*/

.spaceIngredient {
  margin: 0 2%;
  height: 54%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.ingredients {
  width: 100%;
  margin: 0px 0px 0 10px;
  background-color: rgba(173, 173, 173, 0.5);
}

.ingredientPile {
  height: 80%;
  width: 65%;

  margin: 15% auto 0 auto;
  background-color: rgb(238, 237, 237);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  border-radius: 5px;
}

.foodElement {
  width: 100%;
}

.reservePanel {
  width: 9.95%;
  height: 100%;
  text-align: center;
}

.locked {
  width: 13.8%;
  background-color: black;
  border-radius: 10px;
  height: 92%;
}

.speedDelivery {
  position: relative;
  top: 8px;
  font-size: 10px;
}

.buttonReserve {
  width: 84%;
  height: 7%;
  border-radius: 8px;
  margin-top: 14.5%;
}

/*''''''''''''''''''''''''''''chefs related css''''''''''''''''''''''''''''*/

.characters {
  height: calc(46% - 10px);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px 0px 0px 10px;
  width: 100%;
  background-color: rgba(173, 173, 173, 0.5);
}

.character {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  background-color: rgb(173, 173, 173);
  visibility: visible;
}

.upgrade1 {
  background-color: crimson;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.upgrade2 {
  background-color: cyan;
}

.upgrade3 {
  background-color: darkkhaki;
}

.button {
  width: 100%;
  height: 20%;
}

.fillSpaceBackground {
  width: 100%;
  height: 100%;
  z-index: 100;
}

.money {
  position: relative;
  font-family: Segment7Standard;
  font-size: 7vh;
  height: 100%;
  top: 40%;
  margin-right: 17%;
}

.chef {
  position: relative;
  -webkit-transform: translateX(-50%);
  left: 50%;
  width: 100%;
}

.servingChef {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0px;
}

body {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.buyChef {
  position: relative;
  width: 60%;
  height: 10%;
  margin-top: 100%;
  left: 20%;
  border-radius: 10px;
}
